html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

body{
    margin: 0;
    line-height: 1.25;
    letter-spacing: .03em;
}

body.rtl{
    direction: rtl;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

.gallery-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.main-header{
    margin-inline: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

input.text-input{
    max-height: 3em;
}

button{
    cursor: pointer;
}