/* DISPLAY */
.grid{
    display: grid;
}

.inline-block {
    display: inline-block;
}

.hidden{
    display: none !important;
}

.flex{
    display: flex;
}

/* layout-helpers */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.full {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grid-auto-cols{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.hidden-modal{
    opacity:0;
    pointer-events: none;
    transition: opacity .5s;
}

.shown-modal{
    opacity: 1;
    pointer-events: all;
}

/* cursor-helpers */
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}

.grabbable:active {
    cursor: grabbing;
}