/* DISPLAY */
.grid{
    display: grid;
}

.inline-block {
    display: inline-block;
}

.hidden{
    display: hidden;
}

.flex{
    display: flex;
}

/* layout-helpers */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.full {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
