@media (min-width:700px) {
    .main-layout > *:not(.full){
        margin-inline:30px;
    }

    .meme-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
}