@media (min-width:900px) {
    .main-layout > *:not(.full){
        margin-inline:30px;
    }

    .main-modal {
        width: 500px;
    }

    .modal .imgs-table td, .modal .imgs-table tr {
        padding: 10px 10px;
    }

    .meme-section{
        /* display: flex; */
    }
}