.main-layout>*:not(.full) {
    margin-inline: 10px;
}

.main-nav>ul {
    position: absolute;
    right: 0;
    top: 70px;
    margin-block: 0;
    transition: opacity .4s;
    opacity: 0;
    pointer-events: none;
}

.main-header {
    /* margin-bottom: 50px; */
}

.main-nav ul.shown {
    opacity: 1;
    pointer-events: all;
}

.main-header .main-nav {
    height: fit-content;
}

.main-header .main-nav a.nav-link {
    width: 100%;
    display: inline-block;
}

.main-header .main-nav ul li a,
.main-header .logo {
    padding-inline: 20px;
    padding-block: 20px;
}

.main-header .main-nav .dropdown-menu {
    height: 0;
    overflow-y: scroll;
    transition: height .4s;
    margin-inline: 6.84px;
}

.main-header .main-nav .make-place {
    transition: margin .4s;
    margin-top: 0px;
}

.main-header .main-nav .make-place.shown {
    margin-top: calc(101.66px * var(--num-of-saved));
}

.main-header .main-nav .dropdown-menu.shown {
    height: calc(101.66px * var(--num-of-saved));
    /* box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.53); */
}

.main-header .main-nav .dropdown-menu li {
    height: 102.16px;
}

.main-header .main-nav .dropdown-menu li:not(:last-child) {
    border-bottom: 1px white solid;
}

.main-header .main-nav .dropdown-menu img {
    padding: 7.5px;
    width: 102.16px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 2.5em;
}


/* .gallery-section,
.meme-section{
} */

.gallery-section .gallery-nav {
    padding-block: 1rem;
    margin-top: 60px;
    margin-bottom: 40px;
    max-height: 160px;
    padding-inline: 18px;
    align-items: center;
    overflow-y: scroll;

}

input.text-filter{
    max-width: 244px;
    margin: auto;
    margin-inline-start: 0;
    display: block;
}

p.most-searched {
    margin-block: 0;
    overflow-y: scroll;
    overflow-x: hidden
}

p.most-searched a {
    margin-inline: 3px;
}

.gallery-section .gallery-nav ul {
    float: left;
}

.gallery-section .gallery-nav ul li {
    padding-block: .3em;
}

.gallery-nav p.most-searched {
    overflow-y: scroll;
    max-height: calc(100% - 32px);
    max-width: calc(100% - 36px);
}

.gallery-section .gallery-container {
    gap: 25px;
    margin-block: 50px;
    align-items: center;
}


.meme-section aside.design-container.grid{
    text-align: center;
    gap: 8px;
    max-width: 270px;
    margin-inline: auto;
    max-height: 300px;
    grid-template-columns: repeat(5,1fr);
}
.meme-section .design-container > *{
    height: 51px;
}


.meme-section .design-container>div,
.meme-section .design-container input.meme-text {
    width: 100%;
    font-size: 1.29rem;
}
/* .meme-section .design-container>div:nth-child(odd){
    margin-block: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
} */

.meme-section .design-container input.meme-text {
    grid-column-start: span 3;
    height: 38px;
    margin-top: 6.5px;
    width: 176px;
    text-align: left;
}
.meme-section >div> * {
    margin-top: 60px;
    margin-bottom: 40px;
    flex-grow: 1;
}


/* .meme-section aside.design-container, */
.meme-section .search {
    width: 230px;
    margin-bottom: auto;
    margin-inline: auto;
    height: 226px;
}


.search p {
    height: 165px;
    overflow-y: scroll;
}

/* .design-container .design-btns-container {
    grid-template: repeat(2, 36px) / 46px repeat(3, 36px) 46px;
    margin-inline: auto;
    margin-block: 2rem;
} */


.design-container>*,
.search * {
    font-size: 1.25rem;
    text-align: center;
}
.design-container button.text.color{
    grid-column-start: 1;
    grid-row-start: 3;
}
.design-container button.stroke.color{
    grid-column-start: 2;
    grid-row-start: 3;
}
.design-container button.align.start{
    grid-column-start: 1;
    grid-row-start: 4;
}
.design-container button.align.center{
    grid-column-start: 2;
    grid-row-start: 4;
}
.design-container button.align.end{
    grid-column-start: 3;
    grid-row-start: 4;
}
.design-container button.selector{
    grid-column-start: 4;
    grid-row-start: 4;
}
.meme-section .design-container button.meme-button.save{
    grid-row-start: 5;
}
.meme-section .design-container a.meme-button.share{
    grid-row-start: 5;
}
.design-container select.font {
    font-size: 1.29rem;
    grid-column-start: span 3;
    height: 31px;
    margin-top: 10px;
}

.help {
    margin-bottom: 30px;
}

/* .meme-button.selector {
    text-align: right;
    padding-left: 10px;
    border-top-left-radius: 36px;
}

.meme-button.align.start {
    text-align: right;
    padding-left: 10px;
    border-bottom-left-radius: 36px;
}

.meme-button.size.down {
    text-align: left;
    padding-right: 10px;
    border-top-right-radius: 36px;
} */

.design-container .design-btns-container button.meme-button.share {
    border-right: none;
}

/* .design-container .design-btns-container button.meme-button.save {
    text-align: left;
    padding-right: 10px;
    border-bottom-right-radius: 36px;
} */