@import url(typography.css);
@import url(basics.css);
@import url(helpers.css);
@import url(layout.css);
@import url(components.css);
@import url(small.css);
@import url(medium.css);
@import url(large.css);
@import url(xtra-large.css);

:root {
    /* PALETTE */
    --bcg-primay: #ed593e;
    --primary-orng: rgba(223, 163, 85, .8);
    --light-orng: rgba(235, 205, 156, 0.9);
    --num-of-saved: 3;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../background/yellow.jpeg);
    background-repeat: repeat-y;
    width: 100vw;
    overflow-x: hidden;
}
