@import url(typography.css);
@import url(basics.css);
@import url(helpers.css);
@import url(layout.css);
@import url(components.css);
@import url(small.css);
@import url(medium.css);
@import url(large.css);
@import url(xtra-large.css);

:root {
    /* PALETTE */
    --primary-olive: #525B56;
    --primary-black: #040c0e;
    --primary-blue: #132226;
    --primary-orng: #be9063;
    --num-of-saved: 3;
}

* {
    box-sizing: border-box;
}

body {
    /* background-image: url(../background/yellow.jpeg); */
    /* background-repeat: repeat-y; */
    width: 100vw;
    background-color: rgb(242, 242, 242);
    overflow-x: hidden;
}
