@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: fasthand;
    src: url(../fonts/Fasthand/Fasthand-Regular.ttf);
}

@font-face {
    font-family: island-moments;
    src: url(../fonts/Island_Moments/IslandMoments-Regular.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: shalimar;
    src: url(../fonts/Shalimar/Shalimar-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}