@media (min-width:1160px) {
    .main-layout>*:not(.full) {
        max-width: 1100px;
        margin-left: 50% !important;
        transform: translateX(-50%);
        width: 100%;
    }

    .main-header>div {
        width: 1100px !important;
        margin: auto;
    }
    /* .main-header .main-nav > ul{
        padding-inline-end: auto;
    } */
    body>* {
        margin: auto;
    }
}

