@media (min-width:1160px) {
    .main-layout > *:not(.full){
        max-width: 1100px;
    }
    body > *{
        margin: auto;
    }
    .meme-section .design-container{
        max-width: 315px;
    }
}